.login > div > img{
    object-fit: contain;
    height: 150px;
}

.login{
    display: grid;
    place-items: center;
    height: 100vh;
}

.login > div{
    display: flex;
    flex-direction: column;
}

.login > button{
    width: 300px;
    color: black;
    font-weight: 800;
}